*{
    position: relative;
    list-style: none;
}
a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
    .text{
        color: black;
    }
}